@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-sans-pro-v19-latin-regular.woff2') format('woff2'), url('../fonts/source-sans-pro-v19-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('../fonts/source-sans-pro-v19-latin-600.woff2') format('woff2'), url('../fonts/source-sans-pro-v19-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/source-sans-pro-v19-latin-700.woff2') format('woff2'), url('../fonts/source-sans-pro-v19-latin-700.woff') format('woff');
}

* {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

body {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-family: "Source Sans Pro";
    background-color: rgb(242, 242, 242);
}


/* .container {
    margin: 0 auto;
    padding: 0 20px !important;
} */

.header-top {
    border-bottom: 1px solid #eee;
}

.site-header__input {
    background: rgb(244, 244, 244);
    border-radius: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: flex-end;
    padding-top: 7px;
    padding-right: 15px;
    padding-left: 28px;
    padding-bottom: 7px;
    letter-spacing: -0.0521739px;
    color: rgb(174, 174, 174);
    outline: none;
}

.site-header__form-top::before {
    width: 24px;
    height: 21px;
    position: absolute;
    top: 22px;
    left: 17px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: auto;
    content: "";
}

.site-header__btn {
    width: 38px;
    height: 29px;
    margin-top: 10px;
    outline: none;
    cursor: pointer !important;
}

.div-1 {
    background-color: rgb(255, 255, 255);
}

.div-2 {
    background-color: rgb(255, 255, 255);
    display: flex !important;
    justify-content: space-between !important;
}

@media only screen and (max-width: 768px) {
    .div-2 {
        display: none !important;
    }
    .div-1 {
        width: 265px;
    }
    .chat-list-2 {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .div-3 {
        display: none !important;
    }
}

.div-3 {
    background-color: rgb(255, 255, 255);
}

.header__span {
    align-self: flex-end !important;
}

.main {
    height: 100vh;
    padding-top: 63px;
}

.a-link {
    color: #98C3E7;
}

.chat-box {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-list-box {
    background-color: #fff;
}

.chat-list {
    margin: 0;
    /* margin-top: 69px; */
    list-style-type: none;
    background-color: #F8F9FA;
}

.chat-list-2 {
    margin: 0;
    /* margin-top: 62px; */
    list-style-type: none;
}

.chat-item {
    padding-top: 5px;
    padding-bottom: 4px;
    border-right: 1px solid #F2F2F2;
}

.chat-item:hover {
    background-color: #4C91C7;
    color: #fff;
}

.chat-name {
    width: 150px;
    margin: 0 !important;
}

.chat-text {
    font-size: 14px;
}

.message::before {
    width: 14px;
    height: 12px;
    left: 211px;
    top: 654px;
    content: "";
    position: absolute;
    background-image: url(../img/tick.png);
    background-repeat: no-repeat;
}

.chat-read::before {
    display: inline-block;
    width: 17px;
    height: 14px;
    top: 246px;
    left: 881px;
    content: "";
    position: absolute;
    background-image: url(../img/read.svg);
    background-repeat: no-repeat;
}

.chat-optimist {
    margin-top: 8px;
    border-left: 2px solid #66A7DB;
}

.right-div-wrapper {
    background-color: #fff;
    border-left: 2px solid #EAEAEA;
}

.right-div-inner {
    /* margin-top: 76px; */
    border-bottom: 2px solid #EAEAEA;
}

li {
    cursor: pointer;
}